<section class="section bg-light" id="aboutme">
    <div class="container area-dinamic">
        <h2 class="mb-5" data-aos="fade-right" data-aos-duration="800"><span class="text-danger">Sobre</span> mí
        </h2>
        <div class="row">
            <div class="col-md-6 col-lg-4" data-aos="fade-right" data-aos-duration="1500"
                data-aos-anchor-placement="top-bottom">
                <div class="card">
                    <div class="card-header">
                        <div class="mt-2">
                            <h4>últimas peleas</h4>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="title text-danger">2021</h6>
                        Agosto
                        <P class="subtitle">Brandon Moreno vs. Deiveson Figueiredo - Victoria por sumisión (Moreno
                            defendió el título de peso mosca de la UFC).</P>
                        Junio
                        <P class="subtitle">Brandon Moreno vs. Deiveson Figueiredo - Empate mayoritario (Moreno ganó el
                            título de peso mosca de la UFC en la revancha en agosto).
                        </P>
                        Marzo
                        <P class="subtitle">Brandon Moreno vs. Brandon Royval - Victoria por TKO.
                        </P>
                        <hr>
                        <h6 class="title text-danger">2020</h6>
                        Mayo
                        <P class="subtitle">Brandon Moreno vs. Brandon Royval - Victoria por TKO.
                        </P>
                        Febrero
                        <P class="subtitle">Brandon Moreno vs. Jussier Formiga - Victoria por decisión unánime.
                        </P>
                        <hr>
                        <h6 class="title text-danger">2019</h6>
                        Marzo
                        <P class="subtitle">Brandon Moreno vs. Askar Askarov - Empate mayoritario.
                        </P>
                        Enero
                        <P class="subtitle">Brandon Moreno vs. Kai Kara-France - Victoria por decisión unánime.
                        </P>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="1500">
                <div class="card">
                    <div class="card-header">
                        <div class="mt-2">
                            <h4>Campeonatos y logros</h4>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="title text-danger">World Fighting Federation</h6>
                        <P class="subtitle">
                            <li>Campeón de Peso Mosca (3 defensas).</li>
                        </P>
                        <hr>
                        <h6 class="title text-danger">Legacy Fighting Alliance</h6>
                        <P class="subtitle">
                            <li>Campeón de Peso mosca (una vez).</li>
                        </P>
                        <hr>
                        <h6 class="title text-danger">Ultimate Fighting Championship</h6>
                        <P class="subtitle">
                            <li>Campeonato Mundial de Peso Mosca de UFC (Dos veces).</li>
                            <li>Campeonato Interino de Peso Mosca de UFC (Una vez).</li>
                            <li>Actuación de la Noche (Tres veces) vs. Louis Smolka , Dustin Ortiz y Deiveson
                                Figueiredo.</li>
                            <li>Pelea de la Noche (Cuatro veces) vs. Deiveson Figueiredo, Kai Kara-France y Alexandre
                                Pantoja.</li>
                            <li>Primer peleador nacido en México en ganar un campeonato de UFC.</li>
                        </P>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-aos="fade-left" data-aos-duration="800">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2">Habilidades</h4>
                            <span class="line"></span>
                        </div>
                    </div>


                    <div class="card-body pb-2">
                        <h6>Jiu-Jitsu y Sumisión</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Boxeo</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Muay Thai</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Agilidad y Movilidad</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 87%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Resistencia</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 92%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Inteligencia Táctica</h6>
                        <div class="progress mb-3">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 78%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="card" data-aos="fade-left" data-aos-duration="1800">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4 class="mt-2">Récord en artes marciales mixtas</h4>
                            <span class="line"></span>
                        </div>
                    </div>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">30 peleas</th>
                                <th scope="col">21 victorias</th>
                                <th scope="col">7 derrotas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nocaut</td>
                                <td>5</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Sumisión</td>
                                <td>11</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Decisión</td>
                                <td>5</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>Empate</td>
                                <td>2</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>