<header class="header">
    <div class="container">
      <ul class="social-icons pt-3">
        <li class="social-item" data-aos="fade-down" data-aos-duration="500"><a class="social-link text-light" href="#"><i
              class="ti-facebook" aria-hidden="true"></i></a></li>
        <li class="social-item" data-aos="fade-down" data-aos-duration="1000"><a class="social-link text-light"
            href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
        <li class="social-item" data-aos="fade-down" data-aos-duration="1500"><a class="social-link text-light"
            href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
      </ul>
      <div class="header-content">
        <h1 class="header-title" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
          data-aos-duration="1000">{{nombre}}</h1>
        <h6 class="header-mono" data-aos="fade-up" data-aos-duration="2000">{{ocupacion}}
        </h6>
      </div>
    </div>
  </header>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
    <div class="container">
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" data-aos="zoom-out" data-aos-duration="1000">
          <li class="nav-item">
            <a href="#home" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#aboutme" class="nav-link">Sobre mí</a>
          </li>
        </ul>
        <ul class="navbar-nav brand" data-aos="zoom-in" data-aos-duration="1000">
          <img src="assets/imgs/avatar.jpg" alt="" class="brand-img">
          <li class="brand-txt">
            <h5 class="brand-title">{{nombre}}</h5>
            <div class="brand-subtitle">{{ocupacion}}</div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" data-aos="zoom-out" data-aos-duration="1000">
          <li class="nav-item last-item">
            <a href="#noticias" class="nav-link">Noticias</a>
          </li>
          <li class="nav-item">
            <a href="#eventos" class="nav-link">Eventos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>