<div class="section" id="noticias">
    <div class="container">
        <h2 class="mb-5" data-aos="fade-down" data-aos-duration="1200"><span class="text-danger">Noticias</span>
        </h2>
        <div class="card-columns">
            <div class="card hover-shadow">
                <img src="./assets/imgs/p1.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">Los primeros inicios de una leyenda</h5>
                    <p class="card-text">
                        Desde los rincones más humildes de Tijuana, México, emerge un joven prodigio
                        que ha
                        dejado su huella en el mundo de las artes marciales mixtas. Brandon Moreno, con su determinación
                        incansable
                        y talento innato, ha alcanzado la cima del octágono de la UFC. Su historia es un testimonio
                        inspirador de
                        superación y éxito.</p>
                    <p class="card-text">
                        Cuando Brandon era solo un niño, encontró en las calles de Tijuana su pasión por las artes
                        marciales. <br>
                        Ante la falta de recursos, entrenó con disciplina en gimnasios improvisados, soñando con un
                        futuro
                        más brillante. <br>
                        A pesar de los obstáculos, su amor por el deporte lo impulsó a perseguir su sueño de convertirse
                        en un
                        luchador profesional.</p>
                </div>
            </div>
            <div class="card hover-shadow">
                <img src="./assets/imgs/p2.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">Llegada a la UFC</h5>
                    <p class="card-text">El camino de Brandon hacia la UFC no fue fácil. Compitiendo en distintas
                        organizaciones regionales, dejó una impresión duradera en el mundo de las artes marciales
                        mixtas. <br>Su destreza y valentía le abrieron las puertas de la prestigiosa liga de la UFC.
                        En su debut, Brandon Moreno demostró que no era un luchador más. <br>Conquistó al público y a
                        los
                        críticos con su agilidad, inteligencia en el combate y una voluntad inquebrantable.
                        <br>Rápidamente,
                        se ganó el apodo de “El Asesino”, que hacía referencia a su capacidad para finalizar a sus
                        oponentes.
                    </p>
                </div>
            </div>
            <div class="card hover-shadow">
                <img src="./assets/imgs/p4.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">El rey del octágono</h5>
                    <p class="card-text">La victoria de Brandon Moreno no solo lo convirtió en campeón, sino que lo
                        catapultó al estrellato. Su humildad, carisma y espíritu de lucha resonaron en todo el mundo de
                        las artes marciales mixtas. Se convirtió en un ídolo para millones de aficionados que lo
                        admiraban tanto dentro como fuera del octágono.
                        El legado de Brandon Moreno va más allá de sus habilidades de lucha. Su historia de éxito ha
                        inspirado a jóvenes atletas de todo el mundo a perseguir sus sueños sin importar las
                        dificultades. Como embajador del deporte, ha utilizado su fama para ayudar a comunidades
                        desfavorecidas y promover causas benéficas.
                    </p>
                </div>
            </div>
            <div class="card hover-shadow">
                <img src="./assets/imgs/p3.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">Pérdida del Campeonato</h5>
                    <p class="card-text">Moreno enfrentó a Alexandre Pantoja como la primera defensa de su segundo
                        reinado el 8 de julio de 2023, en UFC 290. Perdió la pelea y el título por decisión
                        dividida.Esta pelea lo hizo merecedor de su cuarto premio de Pelea de la Noche</p>
                </div>
            </div>
            <div class="card hover-shadow">
                <img src="./assets/imgs/p5.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">Más allá del octágono: El hombre detrás del luchador</h5>
                    <p class="card-text">Detrás del campeón se encuentra un ser humano extraordinario. Brandon Moreno ha
                        demostrado ser un hombre con una ética de trabajo inquebrantable y un corazón noble. Cuando no
                        está entrenando o compitiendo, dedica tiempo a su familia y amigos, manteniendo sus raíces
                        humildes cerca de su corazón.
                        Fuera del octágono, ha apoyado iniciativas para ayudar a niños necesitados y ha promovido la
                        educación y el deporte como herramientas para construir un mejor futuro. Su filantropía ha
                        dejado una huella positiva en la sociedad y ha demostrado que es un campeón tanto dentro como
                        fuera del ring.
                    </p>
                </div>
            </div>
            <div class="card hover-shadow">
                <img src="./assets/imgs/p6.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-danger">El futuro de Brandon Moreno en la UFC</h5>
                    <p class="card-text">El reinado de Brandon Moreno está lejos de haber concluido. Con la
                        determinación de un verdadero campeón, se enfrenta a nuevos desafíos y adversarios dispuestos a
                        destronarlo. Su habilidad y dedicación lo posicionan como uno de los luchadores más formidables
                        en la UFC.</p>
                </div>
            </div>
        </div>

    </div>
</div>